@use '../../styles/variables.scss' as *;
@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.datepicker {
  position: relative;

  ::-webkit-scrollbar {
    width: 8px;
    background: $Secondary_Grey;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-grey-4;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $color-grey-5;
  }

  ::-webkit-scrollbar-button:vertical:start:decrement,
  ::-webkit-scrollbar-button:horizontal:start:decrement,
  ::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }

  .react-datepicker {
    font-family: 'Nunito Sans';
    font-size: $font-size-small;
    border: 0.1rem solid $color-blue-12;
    border-radius: $border-radius-1;
    width: 100%;
    top: -0.3rem;

    &__triangle {
      display: none;
    }

    &__header {
      background-color: $color-white-1;
      border: none;
      font-size: $font-size-medium-1;
    }

    &-popper {
      z-index: 100;
    }

    &__navigation-icon::before {
      top: 1.2rem;
    }

    .react-datepicker__time-container
      .react-datepicker__time
      .react-datepicker__time-box
      ul.react-datepicker__time-list
      li.react-datepicker__time-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
    border-bottom-color: $color-blue-12;
  }

  .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
    border-bottom-color: $color-white-1;
  }
}

.datepicker[class~='gosotchet'] {
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: $Gosotchet_Primary_Color;
    &:hover {
      background-color: $Gosotchet_Primary_Dark;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $Gosotchet_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $Gosotchet_Primary_Dark;
  }
}

.datepicker[class~='edo'] {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $EDO_Primary_Color;
    &:hover {
      background-color: $EDO_Primary_Dark;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $EDO_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $EDO_Primary_Dark;
  }
}

.datepicker[class~='arenda'] {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $Arenda_Primary_Color;
    &:hover {
      background-color: $Arenda_Primary_Color;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $Arenda_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $Arenda_Primary_Color;
  }
}

.datepicker[class~='marking'] {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $Marking_Primary_Color;
    &:hover {
      background-color: $Marking_Primary_Color;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $Marking_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $Marking_Primary_Color;
  }
}

.datepicker[class~='check-index'] {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $CheckInd_Primary_Color;
    &:hover {
      background-color: $CheckInd_Primary_Color;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $CheckInd_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $CheckInd_Primary_Color;
  }
}

.datepicker[class~='big-data'] {
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $BigData_Primary_Color;
    &:hover {
      background-color: $BigData_Primary_Color;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: $BigData_Primary_Color;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $BigData_Primary_Color;
  }
}
