@use '../../styles/variables.scss' as *;
@use '../../styles/colors.scss' as *;
@import '../../styles/font-faces.scss';

.storybook-service-switcher {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;

  &__input {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 0.8rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    width: 6.4rem;
    height: 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.8rem;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
    background: transparent;
    &:hover {
      background: $shadow-color-1;
      box-shadow: $shadow-inset-1;
    }

    &:focus,
    &:focus-visible {
      outline: none;
      background: $shadow-color-1;
    }

    svg {
      height: 2.4rem;
      width: 2.4rem;
    }

    &--active {
      background-color: $color-white-1;
      box-shadow: 0 0.2rem 0.4rem $color-white-2;

      &:focus,
      &:focus-visible {
        outline: none;
        border: 0.3rem solid transparent;
        background-color: $color-white-1;
      }
    }
  }

  &__text {
    display: block;
    width: 100%;
    font-size: $font-size-small;
    text-align: center;
    color: $color-blue-4;
    margin-top: 0.2rem;
  }
}
