@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;

.progress {
  display: flex;
}
.progress-ring {
  margin-right: 0.8rem;
  height: 1.6rem;
  svg {
    .progress-ring__background {
      fill: none;
      stroke-width: 1.5;
    }
    .progress-ring__progress {
      fill: none;
      stroke-dasharray: 45;
      stroke-dashoffset: 100;
      stroke-linecap: round;
      stroke-width: 1.5;
      transition: stroke-dashoffset 1s ease-in-out;
    }
    .progress-ring__check {
      stroke-dasharray: 100 100;
      stroke-dashoffset: 100;
    }
  }

  polyline[class~='active'] {
    animation: check-animated 1s;
  }
}

.progress-percent {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}
.progress-ring__text-color {
  &__black {
    color: $Dark_Grey;
  }
  &__white {
    color: $Base_White;
  }

  &__grey {
    color: $Base_Grey;
  }
  &__common {
    color: $Common_Color;
  }
  &__info {
    color: $Info_Color;
  }
  &__success {
    color: $Success_Color;
  }
  &__warning {
    color: $Warning_Color;
  }
  &__error {
    color: $Error_Color;
  }

  &__default {
    color: $Common_Color;
  }
  &__ofd {
    color: $OFD_Primary_Color;
  }
  &__edo {
    color: $EDO_Primary_Color;
  }
  &__gosotchet {
    color: $Gosotchet_Primary_Color;
  }
  &__td {
    color: $TD_Primary_Color;
  }
  &__marking {
    color: $Marking_Primary_Color;
  }
  &__check-index {
    color: $CheckInd_Primary_Color;
  }
  &__big-data {
    color: $BigData_Primary_Color;
  }
  &__arenda {
    color: $Arenda_Primary_Color;
  }
  &__integrations {
    color: $Integrations_Primary_Color;
  }
  &__onec {
    color: $OneC_Primary_Color;
  }
  &__mchd {
    color: $Mchd_Primary_Color;
  }
}

.progress-ring__stroke {
  &__black {
    stroke: $Dark_Grey;
  }
  &__white {
    stroke: $Base_White;
  }

  &__grey {
    stroke: $Base_Grey;
  }
  &__common {
    stroke: $Common_Color;
  }
  &__info {
    stroke: $Info_Color;
  }
  &__success {
    stroke: $Success_Color;
  }
  &__warning {
    stroke: $Warning_Color;
  }
  &__error {
    stroke: $Error_Color;
  }

  &__default {
    stroke: $Common_Color;
  }
  &__ofd {
    stroke: $OFD_Primary_Color;
  }
  &__edo {
    stroke: $EDO_Primary_Color;
  }
  &__gosotchet {
    stroke: $Gosotchet_Primary_Color;
  }
  &__td {
    stroke: $TD_Primary_Color;
  }
  &__marking {
    stroke: $Marking_Primary_Color;
  }
  &__check-index {
    stroke: $CheckInd_Primary_Color;
  }
  &__big-data {
    stroke: $BigData_Primary_Color;
  }
  &__arenda {
    stroke: $Arenda_Primary_Color;
  }
  &__integrations {
    stroke: $Integrations_Primary_Color;
  }
  &__onec {
    stroke: $OneC_Primary_Color;
  }
  &__mchd {
    stroke: $Mchd_Primary_Color;
  }
}
