@import url('../../styles/colors.css');
@import url('../../styles/variables.css');
@import url('../../styles/fonts.css');

.storybook-textarea__wrapper {
  position: relative;
}
.storybook-textarea__label {
  color: var(--Common_Color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: var(--line-height-small-2);
  left: 1rem;
  position: absolute;
  top: 0.8rem;
}

.storybook-textarea__wrapper textarea {
  background: var(--color-white-1);
  border: 1px solid var(--color-grey-35);
  border-radius: 2px;
  color: var(--Common_Color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium-1);
  height: 5rem;
  line-height: 1.25rem;
  outline: none;
  padding: 2.2rem 3rem 0.25rem 1rem;
  resize: none;
  transition: 0.3s;
  width: 100%;
}

.storybook-textarea__wrapper textarea::placeholder {
  color: var(--Middle_Grey);
}

.storybook-textarea__wrapper textarea:disabled {
  opacity: 0.3;
  background: var(--Light_Grey);
}

.storybook-textarea__wrapper textarea:focus {
  outline: 0.3rem solid var(--Info_Color);
}

.storybook-textarea__wrapper textarea:focus + .storybook-textarea__label {
  color: var(--Common_Color);
}

.storybook-textarea__wrapper textarea:hover {
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.storybook-textarea__wrapper--ofd textarea:hover {
  border-color: var(--OFD_Primary_Color);
}

.storybook-textarea__wrapper--edo textarea:hover {
  border-color: var(--EDO_Primary_Color);
}

.storybook-textarea__wrapper--arenda textarea:hover {
  border-color: var(--Arenda_Primary_Color);
}

.storybook-textarea__wrapper--gosotchet textarea:hover {
  border-color: var(--Gosotchet_Primary_Color);
}

.storybook-textarea__wrapper--marking textarea:hover {
  border-color: var(--Marking_Primary_Color);
}

.storybook-textarea__wrapper--check-index textarea:hover {
  border-color: var(--CheckInd_Primary_Color);
}

.storybook-textarea__wrapper--big-data textarea:hover {
  border-color: var(--BigData_Primary_Color);
}

.storybook-textarea__wrapper--td textarea:hover {
  border-color: var(--TD_Primary_Color);
}

.storybook-textarea__wrapper--mchd textarea:hover {
  border-color: var(--Mchd_Primary_Color);
}

.storybook-textarea__wrapper--error textarea {
  border-color: var(--Error_Color);
}

.storybook-textarea__wrapper--error .storybook-textarea__help-block {
  color: var(--Error_Color);
}

.storybook-textarea--warning textarea {
  border-color: var(--Warning_Color);
}

.storybook-textarea--warning .storybook-textarea__help-block {
  color: var(--Warning_Color);
}

.storybook-textarea--error .storybook-textarea__help-block {
  color: var(--Error_Color);
}

.storybook-textarea--not-empty {
  background: var(--Background_Grey);
  border-color: var(--Light_Grey);
}

.storybook-textarea--not-empty + .storybook-textarea__label {
  color: var(--color-blue-4);
}

.storybook-textarea__hintText,
.storybook-textarea__help-block {
  padding: 0.25rem 0;
  margin: 0;
  font-size: var(--font-size-medium-1);
}
