@use '../../styles/colors.scss' as *;
@import '../../styles/font-faces.scss';

.switch-tabs {
  display: flex;
  background: #f8f8f8;
  border: 0.1rem solid #eeeeee;
  box-shadow: inset 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  font-family: 'Roboto';
  font-style: normal;
  height: 2.8rem;

  &-large {
    height: 4.8rem;

    .label {
      line-height: 3.6rem;
    }
  }
}

.switch-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  text-align: center;
  border: 0.2rem solid transparent;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px rgba(255, 255, 255, 0.3),
    inset 0px -1px 4px rgba(248, 248, 248, 0.3);
  border-radius: 2px;
}

.switch-tab--accent:hover {
  transition: 0.3s;
  border-color: #e76e23;
}

.switch-tab--common:hover {
  transition: 0.3s;
  border-color: #375d6c;
}

.switch-tab--common:focus-visible {
  transition: 0.3s;
  outline: none;
  border-color: $Info_Color;
}

.title,
.label {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.title {
  color: #c7c7cc;
}

.input {
  display: none;
}

.label {
  width: 100%;
  padding: 0.4rem 0;
  font-weight: 500;
  background: #f8f8f8;
  border-radius: 0.2rem;
  cursor: pointer;
}

.label--accent {
  color: #ea8242;
}

.label--common {
  color: #254e5f;
}

.input:checked + .label--accent {
  background: #ffffff;
  color: #254e5f;
}

.input:checked + .label--common {
  background: #ffffff;
  color: #4ba1a5;
}

.switch-tabs--disabled {
  opacity: 0.5;

  .label {
    color: $Middle_Grey;
    cursor: auto;
  }

  .input:checked + .label {
    background: $Background_Grey;
    color: $Middle_Grey;
  }

  .switch-tab--common:hover {
    transition: none;
    border-color: transparent;
  }

  .switch-tab--accent:hover {
    transition: none;
    border-color: transparent;
  }

  .switch-tab--common:focus-visible {
    transition: none;
    outline: none;
    border-color: transparent;
  }
}
