@use '../../styles/colors.scss' as *;

.storybook-link {
  text-decoration: underline;
  transition: .3s;

  &:hover, &:active {
    text-decoration: none;
    transition: .3s;
  }

  &:focus-visible {
    outline: 2px solid $CheckInd_Primary_Color;
    text-decoration: none;
  }

  /* ofd */
  &__ofd {
    color: $OFD_Primary_Color;

    &:hover {
      color: $OFD_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $OFD_Primary_Dark;
    }
  }

  /* gosotchet */
  &__gosotchet {
    color: $Gosotchet_Primary_Color;

    &:hover {
      color: $Gosotchet_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $Gosotchet_Primary_Dark;
    }
  }

  /* td */
  &__td {
    color: $TD_Primary_Color;

    &:hover {
      color: $TD_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $TD_Primary_Dark;
    }
  }

  /* edo */
  &__edo {
    color: $EDO_Primary_Color;

    &:hover {
      color: $EDO_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $EDO_Primary_Dark;
    }
  }

  /* arenda */
  &__arenda {
    color: $Arenda_Primary_Color;

    &:hover {
      color: $Arenda_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $Arenda_Primary_Dark;
    }
  }

  /* marking */
  &__marking {
    color: $Marking_Primary_Color;

    &:hover {
      color: $Marking_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $Marking_Primary_Dark;
    }
  }

  /* check-index */
  &__check-index {
    color: $CheckInd_Primary_Color;

    &:hover {
      color: $CheckInd_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $CheckInd_Primary_Dark;
    }
  }

  /* big-data */
  &__big-data {
    color: $BigData_Primary_Color;

    &:hover {
      color: $BigData_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $BigData_Primary_Dark;
    }
  }

  /* mchd */
  &__mchd {
    color: $Mchd_Primary_Color;

    &:hover {
      color: $Mchd_Primary_Middle;
      transition: .3s;
    }

    &:active {
      color: $Mchd_Primary_Dark;
    }
  }

  /* success */
  &__check-index {
    color: $Success_Color;

    &:hover {
      color: $Success_Middle;
      transition: .3s;
    }

    &:active {
      color: $Success_Dark;
    }
  }
}

