/**
 * Цвета по всем темам и продуктам:
 * https://www.figma.com/file/9nN2jHqSNFuJy8PipvZcw7/Colors?node-id=0%3A1&t=b80nEqs5uRi3rD0p-3
 * */
// ---------- Темы -----------------
// greyTheme
$Base_White : #FFFFFF;
$Almost_White: #FDFDFD;
$Background_Grey: #F8F8F8;
$Transparency_Grey: #000000;//  5%
$Light_Grey: #EEEEEE;
$Base_Grey: #D6D6D6;
$Secondary_Grey: #C7C7CC;
$Middle_Grey: #ADADB8;
$Dark_Grey: #333333;
// common
$Common_Color : #254E5F;
// infoTheme
$Info_Light: #F3FAFC;
$Info_Pale: #DDEEF4;
$Info_Color: #5BC0DE;
$Info_Middle: #3CB4D8;
$Info_Dark: #2097BC;
// successTheme
$Success_Light: #F5F9F0;
$Success_Pale: #D7E4C8;
$Success_Color: #8BC34A;
$Success_Middle: #7AB03A;
$Success_Dark: #5D8A28;
// warningTheme
$Warning_Light: #FAF5E5;
$Warning_Pale: #ECDCAC;
$Warning_Color: #DCAE1D;
$Warning_Middle: #BD9619;
$Warning_Dark: #90720E;
// errorTheme
$Error_Light: #FAEBEC;
$Error_Pale: #E6B7B9;
$Error_Color: #D12E34;
$Error_Middle: #B4272C;
$Error_Dark: #A91E22;

// ---------- Продукты (Акцентные цвета) -----------------
$OFD_Primary_Light: #E3EFF0;
$OFD_Primary_Pale: #BCD3D4;
$OFD_Primary_Color: #4BA1A5;
$OFD_Primary_Middle: #40898C;
$OFD_Primary_Dark: #357D81;

$EDO_Primary_Light: #FCF6EA;
$EDO_Primary_Pale: #F7EAD4;
$EDO_Primary_Color: #EEAF41;
$EDO_Primary_Middle: #EBA01E;
$EDO_Primary_Dark: #EC9B0E;

$Gosotchet_Primary_Light: #EAF1F8;
$Gosotchet_Primary_Pale: #CCD9E5;
$Gosotchet_Primary_Color: #488BCA;
$Gosotchet_Primary_Middle: #367ABA;
$Gosotchet_Primary_Dark: #2C70AF;

$TD_Primary_Light: #FCF3ED;
$TD_Primary_Pale: #F6E2D5;
$TD_Primary_Color: #EA8242;
$TD_Primary_Middle: #E76E23;
$TD_Primary_Dark: #E26212;

$Marking_Primary_Light: #F1F9F9;
$Marking_Primary_Pale: #C7E0E1;
$Marking_Primary_Color: #4BB9BA;
$Marking_Primary_Middle: #3EA1A2;
$Marking_Primary_Dark: #339799;
$Marking_Secondary_Light: #FEF7D8;
$Marking_Secondary_Pale: #F7E797;
$Marking_Secondary_Color: #EFC800;
$Marking_Secondary_Middle: #CCAB00;
$Marking_Secondary_Dark: #B89600;

$CheckInd_Primary_Light: #F3FAFC;
$CheckInd_Primary_Pale: #E0F0F5;
$CheckInd_Primary_Color: #5BC0DE;
$CheckInd_Primary_Middle: #3CB4D8;
$CheckInd_Primary_Dark: #23A5CD;
$CheckInd_Secondary_Light: #E9F2FB;
$CheckInd_Secondary_Pale: #C1D7F0;
$CheckInd_Secondary_Color: #2E82E4;
$CheckInd_Secondary_Middle: #1B71D4;
$CheckInd_Secondary_Dark: #1363BE;

$BigData_Primary_Light: #E7F2F3;
$BigData_Primary_Pale: #B3DFE5;
$BigData_Primary_Color: #5AB8C5;
$BigData_Primary_Middle: #41AAB9;
$BigData_Primary_Dark: #36A1B0;

$Arenda_Primary_Light: #F9F2F1;
$Arenda_Primary_Pale: #F2D8D3;
$Arenda_Primary_Color: #D58576;
$Arenda_Primary_Middle: #CD6D5B;
$Arenda_Primary_Dark: #CE5A46;

$Integrations_Primary_Light: #F3F3F7;
$Integrations_Primary_Pale: #D9D9E3;
$Integrations_Primary_Color: #797CA4;
$Integrations_Primary_Middle: #646796;
$Integrations_Primary_Dark: #575B8E;
// 1C
$OneC_Primary_Light: #FBEFEE;
$OneC_Primary_Pale: #F3D6D3;
$OneC_Primary_Color: #E36052;
$OneC_Primary_Middle: #CF3726;
$OneC_Primary_Dark: #B92818;
/* МЧД */
$Mchd_Primary_Light: #fbefee;
$Mchd_Primary_Pale: #CFD2E7;
$Mchd_Primary_Color: #626ab7;
$Mchd_Primary_Middle: #4C55A9;
$Mchd_Primary_Dark: #434CA3;
