:root {
  /* greyTheme */
  --Base_White: #ffffff;
  --Almost_White: #fdfdfd;
  --Background_Grey: #f8f8f8;
  --Transparency_Grey: #000000;
  --Light_Grey: #eeeeee;
  --Base_Grey: #d6d6d6;
  --Secondary_Grey: #c7c7cc;
  --Middle_Grey: #adadb8;
  --Dark_Grey: #333333;
  /* common */
  --Common_Color: #254e5f;
  /* infoTheme */
  --Info_Light: #f3fafc;
  --Info_Pale: #ddeef4;
  --Info_Color: #5bc0de;
  --Info_Middle: #3cb4d8;
  --Info_Dark: #2097bc;
  /* successTheme */
  --Success_Light: #f5f9f0;
  --Success_Pale: #d7e4c8;
  --Success_Color: #8bc34a;
  --Success_Middle: #7ab03a;
  --Success_Dark: #5d8a28;
  /* warningTheme */
  --Warning_Light: #faf5e5;
  --Warning_Pale: #ecdcac;
  --Warning_Color: #dcae1d;
  --Warning_Middle: #bd9619;
  --Warning_Dark: #90720e;
  /* errorTheme */
  --Error_Light: #faebec;
  --Error_Pale: #e6b7b9;
  --Error_Color: #d12e34;
  --Error_Middle: #b4272c;
  --Error_Dark: #a91e22;

  /* ---------- Продукты (Акцентные цвета) ----------------- */
  --OFD_Primary_Light: #e3eff0;
  --OFD_Primary_Pale: #bcd3d4;
  --OFD_Primary_Color: #4ba1a5;
  --OFD_Primary_Middle: #40898c;
  --OFD_Primary_Dark: #357d81;

  --EDO_Primary_Light: #fcf6ea;
  --EDO_Primary_Pale: #f7ead4;
  --EDO_Primary_Color: #eeaf41;
  --EDO_Primary_Middle: #eba01e;
  --EDO_Primary_Dark: #ec9b0e;

  --Gosotchet_Primary_Light: #eaf1f8;
  --Gosotchet_Primary_Pale: #ccd9e5;
  --Gosotchet_Primary_Color: #488bca;
  --Gosotchet_Primary_Middle: #367aba;
  --Gosotchet_Primary_Dark: #2c70af;

  --TD_Primary_Light: #fcf3ed;
  --TD_Primary_Pale: #f6e2d5;
  --TD_Primary_Color: #ea8242;
  --TD_Primary_Middle: #e76e23;
  --TD_Primary_Dark: #e26212;

  --Marking_Primary_Light: #f1f9f9;
  --Marking_Primary_Pale: #c7e0e1;
  --Marking_Primary_Color: #4bb9ba;
  --Marking_Primary_Middle: #3ea1a2;
  --Marking_Primary_Dark: #339799;
  --Marking_Secondary_Light: #fef7d8;
  --Marking_Secondary_Pale: #f7e797;
  --Marking_Secondary_Color: #efc800;
  --Marking_Secondary_Middle: #ccab00;
  --Marking_Secondary_Dark: #b89600;

  --CheckInd_Primary_Light: #f3fafc;
  --CheckInd_Primary_Pale: #e0f0f5;
  --CheckInd_Primary_Color: #5bc0de;
  --CheckInd_Primary_Middle: #3cb4d8;
  --CheckInd_Primary_Dark: #23a5cd;
  --CheckInd_Secondary_Light: #e9f2fb;
  --CheckInd_Secondary_Pale: #c1d7f0;
  --CheckInd_Secondary_Color: #2e82e4;
  --CheckInd_Secondary_Middle: #1b71d4;
  --CheckInd_Secondary_Dark: #1363be;

  --BigData_Primary_Light: #e7f2f3;
  --BigData_Primary_Pale: #b3dfe5;
  --BigData_Primary_Color: #5ab8c5;
  --BigData_Primary_Middle: #41aab9;
  --BigData_Primary_Dark: #36a1b0;

  --Arenda_Primary_Light: #f9f2f1;
  --Arenda_Primary_Pale: #f2d8d3;
  --Arenda_Primary_Color: #d58576;
  --Arenda_Primary_Middle: #cd6d5b;
  --Arenda_Primary_Dark: #ce5a46;

  --Integrations_Primary_Light: #f3f3f7;
  --Integrations_Primary_Pale: #d9d9e3;
  --Integrations_Primary_Color: #797ca4;
  --Integrations_Primary_Middle: #646796;
  --Integrations_Primary_Dark: #575b8e;
  /* 1C */
  --OneC_Primary_Light: #fbefee;
  --OneC_Primary_Pale: #f3d6d3;
  --OneC_Primary_Color: #e36052;
  --OneC_Primary_Middle: #cf3726;
  --OneC_Primary_Dark: #b92818;
  /* МЧД */
  --Mchd_Primary_Light: #fbefee;
  --Mchd_Primary_Pale: #CFD2E7;
  --Mchd_Primary_Color: #626ab7;
  --Mchd_Primary_Middle: #4C55A9;
  --Mchd_Primary_Dark: #434CA3;
}
