@font-face {
  font-weight: 400;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('https://cdn1.platformaofd.ru/fonts/NunitoSans_Regular_400.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('https://cdn1.platformaofd.ru/fonts/NunitoSans_SemiBold_600.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Nunito Sans';
  font-style: normal;
  src: url('https://cdn1.platformaofd.ru/fonts/NunitoSans_Bold_700.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn1.platformaofd.ru/fonts/RobotoFlex.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn1.platformaofd.ru/fonts/RobotoFlex.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn1.platformaofd.ru/fonts/RobotoFlex.woff2') format('woff2');
}
