@use '../../styles/variables.scss' as *;
@use '../../styles/colors.scss' as *;
@import '../../styles/fonts.scss';

.select {
  width: 100%;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;

  &.disabled {
    opacity: 0.3;
  }
}

.top {
  position: relative;
  padding: 0.8rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 0.1rem solid $color-grey-35;
  border-radius: 0.2rem;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    box-shadow: $shadow-inset-1;
  }

  &:active {
    outline: 0.1rem solid $color-white-2;
    box-shadow: $shadow-inset-1;
  }

  &.warning {
    outline: 0.1rem solid $color-warning-warning;
  }

  &.error {
    outline: 0.1rem solid $Error_Color;
  }

  &:focus {
    outline: 0.3rem solid $color-blue-15;
    box-shadow: $shadow-inset-1;
  }

  &.disabled {
    &:active,
    &:hover,
    &:focus {
      outline: none;
      border: none;

      .top_title {
        color: $color-black;
      }
    }
  }

  &_left {
    svg {
      width: 1.5rem;
    }
  }

  &_center {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 1%;
  }

  &_title {
    font-family: $font-family-secondary;
    font-size: $font-size-small;
    color: $color-black;

    &.completed {
      color: $color-grey-4;
    }
  }

  &_subTitle {
    font-family: $font-family-primary;
    font-size: $font-size-medium-1;
    color: $color-grey-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.completed {
      color: $color-blue-4;
    }
  }

  &_leftIcon {
    display: block;
    margin-right: 1rem;

    svg {
      display: block;
    }
  }

  &_icon {
    width: 1rem;

    &__opened {
      transform: rotate(180deg);
    }

    svg {
      display: block;
      width: 100%;
    }
  }
}

.alerts {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 1.6rem;
  margin: 0.4rem 0 0.4rem 1.8rem;
  position: absolute;

  &_error {
    color: $Error_Color;
  }

  &_warning {
    color: $color-warning-warning;
  }
}

.options_container {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
}

.options_container_up {
  top: 0;
  bottom: auto;
}

.options {
  position: absolute;
  width: 100%;
  background-color: $color-white-1;
  outline: 0.1rem solid $color-grey-35;
  border-radius: 0.2rem;
  max-height: 50vh;
  overflow-y: scroll;
}

.options_up {
  bottom: 0;
}

.option {
  padding: 1rem 1.8rem;
  font-family: $font-family-primary;
  font-size: $font-size-medium-1;
  color: $color-black;
  border: 0.1rem solid transparent;
  border-bottom: 0.1rem solid $color-grey-1;

  &:hover {
    box-shadow: $shadow-inset-1;
    border-radius: 0.2rem;
  }

  &_selected {
    background-color: $color-grey-4;
    color: $color-white-1;
  }
}

/* ofd product */

.select[class~='ofd'] {
  .option {
    &:hover {
      border: 0.1rem solid $OFD_Primary_Color;
    }
  }
  svg {
    stroke: $OFD_Primary_Color;
  }
  &:active {
    .top_title {
      color: $OFD_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $OFD_Primary_Color;
  }
}

/* gosotchet product */

.select[class~='gosotchet'] {
  .option {
    &:hover {
      border: 0.1rem solid $Gosotchet_Primary_Color;
    }
  }
  svg {
    stroke: $Gosotchet_Primary_Color;
  }
  &:active {
    .top_title {
      color: $Gosotchet_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $Gosotchet_Primary_Color;
  }
}

/* td product */

.select[class~='td'] {
  .option {
    &:hover {
      border: 0.1rem solid $TD_Primary_Color;
    }
  }
  svg {
    stroke: $TD_Primary_Color;
  }
  &:active {
    .top_title {
      color: $TD_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $TD_Primary_Color;
  }
}

/* arenda product */

.select[class~='arenda'] {
  .option {
    &:hover {
      border: 0.1rem solid $Arenda_Primary_Color;
    }
  }
  svg {
    stroke: $Arenda_Primary_Color;
  }
  &:active {
    .top_title {
      color: $Arenda_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $Arenda_Primary_Color;
  }
}

/* check-index product */

.select[class~='check-index'] {
  .option {
    &:hover {
      border: 0.1rem solid $CheckInd_Primary_Color;
    }
  }
  svg {
    stroke: $CheckInd_Primary_Color;
  }
  &:active {
    .top_title {
      color: $CheckInd_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $CheckInd_Primary_Color;
  }
}

/* marking product */

.select[class~='marking'] {
  .option {
    &:hover {
      border: 0.1rem solid $Marking_Primary_Color;
    }
  }
  svg {
    stroke: $Marking_Primary_Color;
  }
  &:active {
    .top_title {
      color: $Marking_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $Marking_Primary_Color;
  }
}

/* big-data product */

.select[class~='big-data'] {
  .option {
    &:hover {
      border: 0.1rem solid $BigData_Primary_Color;
    }
  }
  svg {
    stroke: $BigData_Primary_Color;
  }
  &:active {
    .top_title {
      color: $BigData_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $BigData_Primary_Color;
  }
}

/* edo product */

.select[class~='edo'] {
  .option {
    &:hover {
      border: 0.1rem solid $EDO_Primary_Color;
    }
  }
  svg {
    stroke: $EDO_Primary_Color;
  }
  &:active {
    .top_title {
      color: $EDO_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $EDO_Primary_Color;
  }
}

/* mchd product */

.select[class~='mchd'] {
  .option {
    &:hover {
      border: 0.1rem solid $Mchd_Primary_Color;
    }
  }
  svg {
    stroke: $Mchd_Primary_Color;
  }
  &:active {
    .top_title {
      color: $Mchd_Primary_Color;
    }
  }

  &:hover {
    outline: 0.1rem solid $Mchd_Primary_Color;
  }
}
