@use '../../styles/colors.scss' as *;

.sprite-stroke-primary-color {
  transition: 0.3s;
  &__default {
    stroke: $Base_White;
    fill: transparent;
  }

  /* Продуктовые цвета */
  /* ofd */
  &__ofd {
    stroke: $OFD_Primary_Color;
    fill: transparent;
  }

  /* gosotchet */
  &__gosotchet {
    stroke: $Gosotchet_Primary_Color;
    fill: transparent;
  }

  /* td */
  &__td {
    stroke: $TD_Primary_Color;
    fill: transparent;
  }

  /* edo */
  &__edo {
    stroke: $EDO_Primary_Color;
    fill: transparent;
  }

  /* arenda */
  &__arenda {
    stroke: $Arenda_Primary_Color;
    fill: transparent;
  }

  /* marking */
  &__marking {
    stroke: $Marking_Primary_Color;
    fill: transparent;
  }

  /* check-index */
  &__check-index {
    stroke: $CheckInd_Primary_Color;
    fill: transparent;
  }

  /* big-data */
  &__big-data {
    stroke: $BigData_Primary_Color;
    fill: transparent;
  }

  /* МЧД */
  &__mchd {
    stroke: $Mchd_Primary_Color;
    fill: transparent;
  }

  /* ------------- ТЕМЫ -----------*/
  /* success */
  &__success {
    stroke: $Success_Color;
    fill: transparent;
  }
  /* info */
  &__info {
    stroke: $Info_Color;
    fill: transparent;
  }
  /* warn */
  &__warning {
    stroke: $Warning_Color;
    fill: transparent;
  }
  /* error */
  &__error {
    stroke: $Error_Color;
    fill: transparent;
  }
  /* grey */
  &__grey {
    stroke: $Base_Grey;
    fill: transparent;
  }
  /* common */
  &__common {
    stroke: $Common_Color;
    fill: transparent;
  }

  &__white {
    stroke: $Base_White;
    fill: transparent;
  }
}

/* --------------------- Копия stroke для fill'ов ---------------------- */

.sprite-fill-primary-color {
  fill: $Base_White;

  /* ofd */
  &__default {
    fill: $Secondary_Grey;
  }
  &__ofd {
    fill: $OFD_Primary_Color;
  }

  /* gosotchet */
  &__gosotchet {
    fill: $Gosotchet_Primary_Color;
  }

  /* td */
  &__td {
    fill: $TD_Primary_Color;
  }

  /* edo */
  &__edo {
    fill: $EDO_Primary_Color;
  }

  /* arenda */
  &__arenda {
    fill: $Arenda_Primary_Color;
  }

  /* marking */
  &__marking {
    fill: $Marking_Primary_Color;
  }

  /* check-index */
  &__check-index {
    fill: $CheckInd_Primary_Color;
  }

  /* big-data */
  &__big-data {
    fill: $BigData_Primary_Color;
  }

  /* МЧД */
  &__mchd {
    fill: $Mchd_Primary_Color;
  }

  /* ------------- ТЕМЫ -----------*/

  /* success */
  &__success {
    fill: $Success_Color;
  }
  /* info */
  &__info {
    fill: $Info_Color;
  }
  /* warn */
  &__warning {
    fill: $Warning_Color;
  }
  /* error */
  &__error {
    fill: $Error_Color;
  }
  /* grey */
  &__grey {
    fill: $Base_Grey;
  }
  /* common */
  &__common {
    fill: $Common_Color;
  }

  &__white {
    fill: $Base_White;
  }
}
