.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search {
  display: block;
  padding: 5px 10px;
  width: 50%;
  margin: 30px auto 20px;
}

.description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 15px 0;
  padding: 5px;
  box-shadow: 0 0 5px #cccccc;
  min-width: 100px;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;

  &:hover {
    box-shadow: 0 0 10px #9d9d9d;
  }

  .title {
    padding: 0 5px;
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 14px;
  }
}
