@use '../../styles/colors.scss' as *;
@use '../../styles/mixins.scss' as *;

@include colors-to-css;

.tumbler {
  &.disabled {
    opacity: 0.3;

    label {
      cursor: default;
    }
  }

  input[type='checkbox'] {
    display: none;
    &:hover {
      cursor: crosshair;
    }
  }

  input[type='checkbox']:checked + label {
    background-color: $OFD_Primary_Color;
    border-color: $OFD_Primary_Middle;
  }

  input[type='checkbox']:checked + label .handler {
    left: 1.4rem;
  }

  input[type='checkbox']:checked + label .center {
    background-color: $OFD_Primary_Color;
    border-color: $OFD_Primary_Color;
  }

  label {
    display: block;
    width: 3rem;
    height: 1.6rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.15s;
    background-color: $Light_Grey;
    border: 0.1rem solid $Light_Grey;
    position: relative;
  }
}

.handler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow:
    0 0.1rem 0.4rem rgba(0, 0, 0, 0.1),
    inset 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.4rem rgba(248, 248, 248, 0.3);
  transition: all 0.15s;
  background-color: $Base_White;
  border: 0.1rem solid $Background_Grey;
}

.center {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  transition: all 0.15s;
  background-color: $Background_Grey;
  border: 0.1rem solid $Light_Grey;
}
