.storybook-check {
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  background: #ffffff;
  padding: 1rem 1rem 1rem 3.6rem;
  color: #254e5f;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.storybook-check--disabled {
  opacity: 0.3;
  cursor: context-menu;
}

.storybook-check:hover {
  transition: 0.3s;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.storybook-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  outline: none;
}

.storybook-check__box {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 2px;
  left: 1rem;
  box-sizing: border-box;
}

.storybook-check .storybook-check__box {
  border: 1px solid #eeeeee;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.storybook-check--checked {
  background: #f8f8f8;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.storybook-check__input:checked + .storybook-check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35378 4.14654C1.30766 4.09879 1.25249 4.06069 1.19149 4.03449C1.13048 4.00828 1.06488 3.99449 0.998485 3.99391C0.932096 3.99334 0.866256 4.00599 0.804808 4.03113C0.74336 4.05627 0.687534 4.0934 0.640587 4.14034C0.593641 4.18729 0.556514 4.24312 0.531374 4.30456C0.506233 4.36601 0.493583 4.43185 0.49416 4.49824C0.494736 4.56463 0.50853 4.63024 0.534734 4.69124C0.560939 4.75224 0.59903 4.80742 0.646785 4.85354L3.14678 7.35354C3.24055 7.44728 3.3677 7.49993 3.50028 7.49993C3.63287 7.49993 3.76002 7.44728 3.85378 7.35354L9.35379 1.85354C9.40154 1.80742 9.43963 1.75224 9.46584 1.69124C9.49204 1.63024 9.50583 1.56463 9.50641 1.49824C9.50699 1.43185 9.49434 1.36601 9.4692 1.30456C9.44406 1.24312 9.40693 1.18729 9.35998 1.14034C9.31304 1.0934 9.25721 1.05627 9.19576 1.03113C9.13431 1.00599 9.06847 0.993338 9.00208 0.993915C8.9357 0.994492 8.87008 1.00829 8.80908 1.03449C8.74808 1.06069 8.69291 1.09879 8.64678 1.14654L3.50028 6.29304L1.35378 4.14654Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.storybook-check__input--ofd:checked + .storybook-check__box {
  background-color: #4ba1a5;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #81c9cc,
    inset 0px -1px 4px #4a7f82;
}

.storybook-check--ofd:hover {
  border-color: #4ba1a5;
}

.storybook-check__input--edo:checked + .storybook-check__box {
  background-color: #eeaf41;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #eeaf41,
    inset 0px -1px 4px #ec9b0e;
}

.storybook-check--edo:hover {
  border-color: #eeaf41;
}

.storybook-check__input--gosotchet:checked + .storybook-check__box {
  background-color: #488bca;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #488bca,
    inset 0px -1px 4px #2c70af;
}

.storybook-check--gosotchet:hover {
  border-color: #488bca;
}

.storybook-check__input--td:checked + .storybook-check__box {
  background-color: #ea8242;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #ea8242,
    inset 0px -1px 4px #e26212;
}

.storybook-check--td:hover {
  border-color: #ea8242;
}

.storybook-check__input--marking:checked + .storybook-check__box {
  background-color: #4bb9ba;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #4bb9ba,
    inset 0px -1px 4px #339799;
}

.storybook-check--marking:hover {
  border-color: #4bb9ba;
}

.storybook-check__input--check-index:checked + .storybook-check__box {
  background-color: #5bc0de;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #5bc0de,
    inset 0px -1px 4px #23a5cd;
}

.storybook-check--check-index:hover {
  border-color: #5bc0de;
}

.storybook-check__input--big-data:checked + .storybook-check__box {
  background-color: #5ab8c5;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #5ab8c5,
    inset 0px -1px 4px #36a1b0;
}

.storybook-check--big-data:hover {
  border-color: #5ab8c5;
}

.storybook-check__input--arenda:checked + .storybook-check__box {
  background-color: #d58576;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #d58576,
    inset 0px -1px 4px #ce5a46;
}

.storybook-check--arenda:hover {
  border-color: #d58576;
}

.storybook-check__input--mchd:checked + .storybook-check__box {
  background-color: #626ab7;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.1),
    inset 0px 1px 4px #626ab7,
    inset 0px -1px 4px #434ca3;
}

.storybook-check--mchd:hover {
  border-color: #626ab7;
}

.storybook-check__help-block {
  position: absolute;
  bottom: -1.25rem;
  left: 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.storybook-check--error {
  border-color: #d12e34;
}

.storybook-check--error .storybook-check__help-block {
  color: #d12e34;
}

.storybook-check--warning {
  border-color: #dcae1d;
}

.storybook-check--warning .storybook-check__help-block {
  color: #dcae1d;
}

.storybook-check--focus {
  box-shadow: 0 0 0 2px #5bc0de;
  border-color: transparent;
}

.storybook-check--focus:hover {
  box-shadow: 0 0 0 2px #5bc0de;
  border-color: transparent;
}

.storybook-check__item-number {
  margin-left: 0.5rem;
  color: #c7c7cc;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

.storybook-check__item-number span:first-child {
  color: #254e5f;
}
