@use '../../../styles/colors.scss' as *;

/* Стиль кнопки aside-secondary */

.storybook-button--aside-secondary {
  color: $Base_White;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.07);
  border: 0.1rem solid $Base_White;

  svg {
    position: absolute;
    left: 1.6rem;
    width: 2rem;
    height: 2rem;
  }
}

.storybook-button--aside-secondary.storybook-button--icon {
  span {
    margin-right: 0;
    margin-left: 1.6rem;
  }
}

.storybook-button--aside-secondary.storybook-button--aside {
  width: 4rem;
  height: 4rem;
  padding: 0;

  @media (min-width: 1200px) {
    width: 100%;
    height: 4.8rem;
  }

  span {
    margin-right: 0;
    margin-left: 1.6rem;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  svg {
    transition: 0.3s;
    width: 1.6rem;
    height: 1.6rem;
    left: auto;
    @media (min-width: 1200px) {
      position: absolute;
      left: 1.6rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.storybook-button--aside-secondary:active {
  box-shadow: inset 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Тема кнопки ofd */

.storybook-button--aside-secondary.ofd {
  background-color: $OFD_Primary_Color;
}

.storybook-button--aside-secondary.ofd:hover {
  background: $OFD_Primary_Middle;
}

.storybook-button--aside-secondary.ofd:active {
  background: $OFD_Primary_Dark;
}

.storybook-button--aside-secondary.ofd .storybook-button--progress {
  background-color: $OFD_Primary_Color;
}

.storybook-button--aside-secondary.ofd:focus-visible {
  background: $OFD_Primary_Middle;
}

/* Тема кнопки td */

.storybook-button--aside-secondary.td {
  background-color: $TD_Primary_Color;
}

.storybook-button--aside-secondary.td:hover {
  background: $TD_Primary_Middle;
}

.storybook-button--aside-secondary.td:active {
  background: $TD_Primary_Dark;
}

.storybook-button--aside-secondary.td:focus-visible {
  background: $TD_Primary_Middle;
}

.storybook-button--aside-secondary.td .storybook-button--progress {
  background-color: $TD_Primary_Color;
}

/* Тема кнопки edo */

.storybook-button--aside-secondary.edo {
  background-color: $EDO_Primary_Color;
}

.storybook-button--aside-secondary.edo:hover {
  background: $EDO_Primary_Middle;
}

.storybook-button--aside-secondary.edo:active {
  background: $EDO_Primary_Dark;
}

.storybook-button--aside-secondary.edo:focus-visible {
  background: $EDO_Primary_Middle;
}

.storybook-button--aside-secondary.edo .storybook-button--progress {
  background-color: $EDO_Primary_Color;
}

/* Тема кнопки gosotchet */

.storybook-button--aside-secondary.gosotchet {
  background-color: $Gosotchet_Primary_Color;
}

.storybook-button--aside-secondary.gosotchet:hover {
  background: $Gosotchet_Primary_Middle;
}

.storybook-button--aside-secondary.gosotchet:active {
  background: $Gosotchet_Primary_Dark;
  box-shadow: inset 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
}

.storybook-button--aside-secondary.gosotchet:focus-visible {
  background: $Gosotchet_Primary_Middle;
}

.storybook-button--aside-secondary.gosotchet .storybook-button--progress {
  background-color: $Gosotchet_Primary_Color;
}

/* Тема кнопки arenda */

.storybook-button--aside-secondary.arenda {
  background-color: $Arenda_Primary_Color;
}

.storybook-button--aside-secondary.arenda:hover {
  background: $Arenda_Primary_Middle;
}

.storybook-button--aside-secondary.arenda:active {
  background: $Arenda_Primary_Dark;
}

.storybook-button--aside-secondary.arenda:focus-visible {
  background: $Arenda_Primary_Middle;
}

.storybook-button--aside-secondary.arenda .storybook-button--progress {
  background-color: $Arenda_Primary_Color;
}

/* Тема кнопки marking */

.storybook-button--aside-secondary.marking {
  background-color: $Marking_Primary_Color;
}

.storybook-button--aside-secondary.marking:hover {
  background: $Marking_Primary_Middle;
}

.storybook-button--aside-secondary.marking:active {
  background: $Marking_Primary_Dark;
}

.storybook-button--aside-secondary.marking:focus-visible {
  background: $Marking_Primary_Middle;
}

.storybook-button--aside-secondary.marking .storybook-button--progress {
  background-color: $Marking_Primary_Color;
}

/* Тема кнопки big-data */

.storybook-button--aside-secondary.big-data {
  background-color: $BigData_Primary_Color;
}

.storybook-button--aside-secondary.big-data:hover {
  background: $BigData_Primary_Middle;
}

.storybook-button--aside-secondary.big-data:active {
  background: $BigData_Primary_Dark;
}

.storybook-button--aside-secondary.big-data:focus-visible {
  background: $BigData_Primary_Middle;
}

.storybook-button--aside-secondary.big-data .storybook-button--progress {
  background-color: $BigData_Primary_Color;
}

/* Тема кнопки check-index */

.storybook-button--aside-secondary.check-index {
  background-color: $CheckInd_Primary_Color;
}

.storybook-button--aside-secondary.check-index:hover {
  background: $Info_Middle;
}

.storybook-button--aside-secondary.check-index:active {
  background: $Info_Dark;
}

.storybook-button--aside-secondary.check-index:hover {
  background: $Info_Middle;
}

.storybook-button--aside-secondary.check-index .storybook-button--progress {
  background-color: $CheckInd_Primary_Color;
}

/* Тема кнопки МЧД */

.storybook-button--aside-secondary.mchd {
  background-color: $Mchd_Primary_Color;
}

.storybook-button--aside-secondary.mchd:hover {
  background: $Mchd_Primary_Middle;
}

.storybook-button--aside-secondary.mchd:active {
  background: $Mchd_Primary_Dark;
}

.storybook-button--aside-secondary.mchd:hover {
  background: $Mchd_Primary_Middle;
}

.storybook-button--aside-secondary.mchd .storybook-button--progress {
  background-color: $Mchd_Primary_Color;
}

/* Тема кнопки success */

.storybook-button--aside-secondary.success {
  background-color: $Success_Color;
}

.storybook-button--aside-secondary.success:hover {
  background: $Success_Middle;
}

.storybook-button--aside-secondary.success:active {
  background: $Success_Dark;
}

.storybook-button--aside-secondary.success:focus-visible {
  background: $Success_Middle;
}

.storybook-button--aside-secondary.success .storybook-button--progress {
  background-color: $Success_Color;
}
