@use '../../../styles/colors.scss' as *;

/* Стиль кнопки aside-primary */

.storybook-button--aside-primary {
  background-color: $Base_White;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);

  svg {
    position: absolute;
    left: 1.6rem;
    width: 2rem;
    height: 2rem;
  }
}

.storybook-button--aside-primary.storybook-button--icon {
  span {
    margin-right: 0;
    margin-left: 1.6rem;
  }
}

.storybook-button--aside-primary.storybook-button--aside {
  width: 4rem;
  height: 4rem;
  padding: 0;

  @media (min-width: 1200px) {
    width: 100%;
    height: 4.8rem;
  }

  span {
    margin-right: 0;
    margin-left: 1.6rem;
    display: none;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  svg {
    transition: 0.3s;
    width: 1.6rem;
    height: 1.6rem;
    left: auto;
    @media (min-width: 1200px) {
      position: absolute;
      left: 1.6rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.storybook-button--aside-primary:hover {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

.storybook-button--aside-primary:active {
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.07);
}

.storybook-button--aside-primary .storybook-button--progress {
  background-color: $OFD_Primary_Pale;
}

/* Тема кнопки ofd */

.storybook-button--aside-primary.ofd {
  color: $OFD_Primary_Color;
}

.storybook-button--aside-primary.ofd:hover {
  color: $OFD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $OFD_Primary_Dark;
  }
}

.storybook-button--aside-primary.ofd:active {
  background: $OFD_Primary_Light;
  color: $OFD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $OFD_Primary_Dark;
  }
}

.storybook-button--aside-primary.ofd:active {
  color: $OFD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $OFD_Primary_Dark;
  }
}

/* Тема кнопки td */

.storybook-button--aside-primary.td {
  color: $TD_Primary_Color;
}

.storybook-button--aside-primary.td:hover {
  color: $TD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $TD_Primary_Dark;
  }
}

.storybook-button--aside-primary.td:active {
  background: $TD_Primary_Light;
  color: $TD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $TD_Primary_Dark;
  }
}

.storybook-button--aside-primary.td:focus-visible {
  color: $TD_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $TD_Primary_Dark;
  }
}

/* Тема кнопки edo */

.storybook-button--aside-primary.edo {
  color: $EDO_Primary_Color;
}

.storybook-button--aside-primary.edo:hover {
  color: $EDO_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $EDO_Primary_Dark;
  }
}

.storybook-button--aside-primary.edo:active {
  background: $EDO_Primary_Light;
  color: $EDO_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $EDO_Primary_Dark;
  }
}

.storybook-button--aside-primary.edo:focus-visible {
  color: $EDO_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $EDO_Primary_Dark;
  }
}

/* Тема кнопки gosotchet */

.storybook-button--aside-primary.gosotchet {
  color: $Gosotchet_Primary_Color;
}

.storybook-button--aside-primary.gosotchet:hover {
  color: $Gosotchet_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Gosotchet_Primary_Dark;
  }
}

.storybook-button--aside-primary.gosotchet:active {
  background: $Gosotchet_Primary_Light;
  color: $Gosotchet_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Gosotchet_Primary_Dark;
  }
}

.storybook-button--aside-primary.gosotchet:focus-visible {
  color: $Gosotchet_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Gosotchet_Primary_Dark;
  }
}

/* Тема кнопки arenda */

.storybook-button--aside-primary.arenda {
  color: $Arenda_Primary_Color;
}

.storybook-button--aside-primary.arenda:hover {
  color: $Arenda_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Arenda_Primary_Dark;
  }
}

.storybook-button--aside-primary.arenda:active {
  background: $Arenda_Primary_Light;
  color: $Arenda_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Arenda_Primary_Dark;
  }
}

.storybook-button--aside-primary.arenda:focus-visible {
  color: $Arenda_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Arenda_Primary_Dark;
  }
}

/* Тема кнопки marking */

.storybook-button--aside-primary.marking {
  color: $Marking_Primary_Color;
}

.storybook-button--aside-primary.marking:hover {
  color: $Marking_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Marking_Primary_Dark;
  }
}

.storybook-button--aside-primary.marking:active {
  background: $Marking_Primary_Light;
  color: $Marking_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Marking_Primary_Dark;
  }
}

.storybook-button--aside-primary.marking:focus-visible {
  color: $Marking_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Marking_Primary_Dark;
  }
}

/* Тема кнопки big-data */

.storybook-button--aside-primary.big-data {
  color: $BigData_Primary_Color;
}

.storybook-button--aside-primary.big-data:hover {
  color: $BigData_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $BigData_Primary_Dark;
  }
}

.storybook-button--aside-primary.big-data:active {
  background: $BigData_Primary_Light;
  color: $BigData_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $BigData_Primary_Dark;
  }
}

.storybook-button--aside-primary.big-data:focus-visible {
  color: $BigData_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $BigData_Primary_Dark;
  }
}

/* Тема кнопки check-index */

.storybook-button--aside-primary.check-index {
  color: $CheckInd_Primary_Color;
}

.storybook-button--aside-primary.check-index:hover {
  color: $CheckInd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $CheckInd_Primary_Dark;
  }
}

.storybook-button--aside-primary.check-index:active {
  background: $CheckInd_Primary_Light;
  color: $CheckInd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $CheckInd_Primary_Dark;
  }
}

.storybook-button--aside-primary.check-index:focus-visible {
  color: $CheckInd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $CheckInd_Primary_Dark;
  }
}

/* Тема кнопки МЧД */

.storybook-button--aside-primary.mchd {
  color: $Mchd_Primary_Color;
}

.storybook-button--aside-primary.mchd:hover {
  color: $Mchd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Mchd_Primary_Dark;
  }
}

.storybook-button--aside-primary.mchd:active {
  background: $Mchd_Primary_Light;
  color: $Mchd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Mchd_Primary_Dark;
  }
}

.storybook-button--aside-primary.mchd:focus-visible {
  color: $Mchd_Primary_Dark;

  svg {
    transition: 0.3s;
    stroke: $Mchd_Primary_Dark;
  }
}

/* Тема кнопки success */

.storybook-button--aside-primary.success {
  color: $Success_Color;
}

.storybook-button--aside-primary.success:hover {
  color: $Success_Dark;

  svg {
    transition: 0.3s;
    stroke: $Success_Dark;
  }
}

.storybook-button--aside-primary.success:active {
  background: $Success_Light;
  color: $Success_Dark;

  svg {
    transition: 0.3s;
    stroke: $Success_Dark;
  }
}

.storybook-button--aside-primary.success:focus-visible {
  color: $Success_Dark;

  svg {
    transition: 0.3s;
    stroke: $Success_Dark;
  }
}
