@use '../../../styles/colors.scss' as *;

/* Стиль кнопки primary */

.storybook-button--primary {
  color: $Base_White;
  box-shadow:
    0 0.2rem 0.4rem rgba(52, 123, 126, 0.15),
    inset 0 0.1rem 0.2rem rgba(255, 255, 255, 0.4);
}

.storybook-button--primary:active {
  box-shadow: inset 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
}

/* Тема кнопки ofd */

.storybook-button--primary.ofd {
  background-color: $OFD_Primary_Color;
  border-color: $OFD_Primary_Dark;
}

.storybook-button--primary.ofd:focus-visible {
  background: $OFD_Primary_Middle;
}

.storybook-button--primary.ofd:hover {
  background: $OFD_Primary_Middle;
}

.storybook-button--primary.ofd:active {
  background: $OFD_Primary_Dark;
}

.storybook-button--primary.ofd .storybook-button--progress {
  background-color: $OFD_Primary_Color;
}

/* Тема кнопки td */

.storybook-button--primary.td {
  background-color: $TD_Primary_Color;
  border-color: $TD_Primary_Dark;
}

.storybook-button--primary.td:focus-visible {
  background: $TD_Primary_Middle;
}

.storybook-button--primary.td:hover {
  background: $TD_Primary_Middle;
}

.storybook-button--primary.td:active {
  background: $TD_Primary_Dark;
}

.storybook-button--primary.td .storybook-button--progress {
  background-color: $TD_Primary_Color;
}

/* Тема кнопки edo */

.storybook-button--primary.edo {
  background-color: $EDO_Primary_Color;
  border-color: $EDO_Primary_Dark;
}

.storybook-button--primary.edo:focus-visible {
  background: $EDO_Primary_Middle;
}

.storybook-button--primary.edo:hover {
  background: $EDO_Primary_Middle;
}

.storybook-button--primary.edo:active {
  background: $EDO_Primary_Dark;
}

.storybook-button--primary.edo .storybook-button--progress {
  background-color: $EDO_Primary_Color;
}

/* Тема кнопки gosotchet */

.storybook-button--primary.gosotchet {
  background-color: $Gosotchet_Primary_Color;
  border-color: $Gosotchet_Primary_Dark;
}

.storybook-button--primary.gosotchet:focus-visible {
  background: $Gosotchet_Primary_Middle;
}

.storybook-button--primary.gosotchet:hover {
  background: $Gosotchet_Primary_Middle;
}

.storybook-button--primary.gosotchet:active {
  background: $Gosotchet_Primary_Dark;
}

.storybook-button--primary.gosotchet .storybook-button--progress {
  background-color: $Gosotchet_Primary_Color;
}

/* Тема кнопки arenda */

.storybook-button--primary.arenda {
  background-color: $Arenda_Primary_Color;
  border-color: $Arenda_Primary_Dark;
}

.storybook-button--primary.arenda:focus-visible {
  background: $Arenda_Primary_Middle;
}

.storybook-button--primary.arenda:hover {
  background: $Arenda_Primary_Middle;
}

.storybook-button--primary.arenda:active {
  background: $Arenda_Primary_Dark;
}

.storybook-button--primary.arenda .storybook-button--progress {
  background-color: $Arenda_Primary_Color;
}

/* Тема кнопки marking */

.storybook-button--primary.marking {
  background-color: $Marking_Primary_Color;
  border-color: $Marking_Primary_Dark;
}

.storybook-button--primary.marking:focus-visible {
  background: $Marking_Primary_Middle;
}

.storybook-button--primary.marking:hover {
  background: $Marking_Primary_Middle;
}

.storybook-button--primary.marking:active {
  background: $Marking_Primary_Dark;
}

.storybook-button--primary.marking .storybook-button--progress {
  background-color: $Marking_Primary_Color;
}

/* Тема кнопки big-data */

.storybook-button--primary.big-data {
  background-color: $BigData_Primary_Color;
  border-color: $BigData_Primary_Dark;
}

.storybook-button--primary.big-data:focus-visible {
  background: $BigData_Primary_Middle;
}

.storybook-button--primary.big-data:hover {
  background: $BigData_Primary_Middle;
}

.storybook-button--primary.big-data:active {
  background: $BigData_Primary_Dark;
}

.storybook-button--primary.big-data .storybook-button--progress {
  background-color: $BigData_Primary_Color;
}

/* Тема кнопки check-index */

.storybook-button--primary.check-index {
  background-color: $CheckInd_Primary_Color;
  border-color: $CheckInd_Primary_Dark;
}

.storybook-button--primary.check-index:focus-visible {
  background: $CheckInd_Primary_Middle;
}

.storybook-button--primary.check-index:hover {
  background: $Info_Middle;
}

.storybook-button--primary.check-index:active {
  background: $Info_Dark;
}

.storybook-button--primary.check-index .storybook-button--progress {
  background-color: $CheckInd_Primary_Color;
}

/* Тема кнопки МЧД */

.storybook-button--primary.mchd {
  background-color: $Mchd_Primary_Color;
  border-color: $Mchd_Primary_Dark;
}

.storybook-button--primary.mchd:focus-visible {
  background: $Mchd_Primary_Middle;
}

.storybook-button--primary.mchd:hover {
  background: $Mchd_Primary_Middle;
}

.storybook-button--primary.mchd:active {
  background: $Mchd_Primary_Dark;
}

.storybook-button--primary.mchd .storybook-button--progress {
  background-color: $Mchd_Primary_Color;
}

/* Тема кнопки success */

.storybook-button--primary.success {
  background-color: $Success_Color;
  border-color: $Success_Dark;
}

.storybook-button--primary.success:focus-visible {
  background: $Success_Middle;
}

.storybook-button--primary.success:hover {
  background: $Success_Middle;
}

.storybook-button--primary.success:active {
  background: $Success_Dark;
}

.storybook-button--primary.success .storybook-button--progress {
  background-color: $Success_Color;
}
