@use '../../../styles/colors.scss' as *;

/* Стиль кнопки secondary */

.storybook-button--secondary {
  background-color: $Base_White;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
}

.storybook-button--secondary:active {
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.07);
}

.storybook-button--secondary .storybook-button--progress {
  background-color: $OFD_Primary_Pale;
}

/* Тема кнопки ofd */

.storybook-button--secondary.ofd {
  border-color: $OFD_Primary_Color;
  color: $OFD_Primary_Color;

  &:focus-visible {
    color: $OFD_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $OFD_Primary_Middle;
    }
  }
}

.storybook-button--secondary.ofd:hover {
  border-color: $OFD_Primary_Middle;
  color: $OFD_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $OFD_Primary_Middle;
  }
}

.storybook-button--secondary.ofd:active {
  background: $OFD_Primary_Light;
  color: $OFD_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $OFD_Primary_Color;
  }
}

/* Тема кнопки td */

.storybook-button--secondary.td {
  border-color: $TD_Primary_Color;
  color: $TD_Primary_Color;

  &:focus-visible {
    color: $TD_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $TD_Primary_Middle;
    }
  }
}

.storybook-button--secondary.td:hover {
  border-color: $TD_Primary_Middle;
  color: $TD_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $TD_Primary_Middle;
  }
}

.storybook-button--secondary.td:active {
  background: $TD_Primary_Light;
  color: $TD_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $TD_Primary_Color;
  }
}

/* Тема кнопки edo */

.storybook-button--secondary.edo {
  color: $EDO_Primary_Color;
  border-color: $EDO_Primary_Color;

  &:focus-visible {
    color: $EDO_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $EDO_Primary_Middle;
    }
  }
}

.storybook-button--secondary.edo:hover {
  border-color: $EDO_Primary_Middle;
  color: $EDO_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $EDO_Primary_Middle;
  }
}

.storybook-button--secondary.edo:active {
  background: $EDO_Primary_Light;
  color: $EDO_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $EDO_Primary_Color;
  }
}

/* Тема кнопки gosotchet */

.storybook-button--secondary.gosotchet {
  color: $Gosotchet_Primary_Color;
  border-color: $Gosotchet_Primary_Color;

  &:focus-visible {
    color: $Gosotchet_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $Gosotchet_Primary_Middle;
    }
  }
}

.storybook-button--secondary.gosotchet:hover {
  color: $Gosotchet_Primary_Middle;
  border-color: $Gosotchet_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $Gosotchet_Primary_Middle;
  }
}

.storybook-button--secondary.gosotchet:active {
  background: $Gosotchet_Primary_Light;
  color: $Gosotchet_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $Gosotchet_Primary_Color;
  }
}

/* Тема кнопки arenda */

.storybook-button--secondary.arenda {
  color: $Arenda_Primary_Color;
  border-color: $Arenda_Primary_Color;

  &:focus-visible {
    color: $Arenda_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $Arenda_Primary_Middle;
    }
  }
}

.storybook-button--secondary.arenda:hover {
  color: $Arenda_Primary_Middle;
  border-color: $Arenda_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $Arenda_Primary_Middle;
  }
}

.storybook-button--secondary.arenda:active {
  background: $Arenda_Primary_Light;
  color: $Arenda_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $Arenda_Primary_Color;
  }
}

/* Тема кнопки marking */

.storybook-button--secondary.marking {
  color: $Marking_Primary_Color;
  border-color: $Marking_Primary_Color;

  &:focus-visible {
    color: $Marking_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $Marking_Primary_Middle;
    }
  }
}

.storybook-button--secondary.marking:hover {
  color: $Marking_Primary_Middle;
  border-color: $Marking_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $Marking_Primary_Middle;
  }
}

.storybook-button--secondary.marking:active {
  background: $Marking_Primary_Light;
  color: $Marking_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $Marking_Primary_Color;
  }
}

/* Тема кнопки big-data */

.storybook-button--secondary.big-data {
  color: $BigData_Primary_Color;
  border-color: $BigData_Primary_Color;

  &:focus-visible {
    color: $BigData_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $BigData_Primary_Middle;
    }
  }
}

.storybook-button--secondary.big-data:hover {
  color: $BigData_Primary_Middle;
  border-color: $BigData_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $BigData_Primary_Middle;
  }
}

.storybook-button--secondary.big-data:active {
  background: $BigData_Primary_Light;
  color: $BigData_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $BigData_Primary_Color;
  }
}

/* Тема кнопки check-index */

.storybook-button--secondary.check-index {
  color: $CheckInd_Primary_Color;
  border-color: $CheckInd_Primary_Color;

  &:focus-visible {
    color: $CheckInd_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $CheckInd_Primary_Middle;
    }
  }
}

.storybook-button--secondary.check-index:hover {
  color: $CheckInd_Primary_Middle;
  border-color: $CheckInd_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $CheckInd_Primary_Middle;
  }
}

.storybook-button--secondary.check-index:active {
  background: $CheckInd_Primary_Light;
  color: $CheckInd_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $CheckInd_Primary_Color;
  }
}

/* Тема кнопки МЧД */

.storybook-button--secondary.mchd {
  color: $Mchd_Primary_Color;
  border-color: $Mchd_Primary_Color;

  &:focus-visible {
    color: $Mchd_Primary_Middle;

    svg {
      transition: 0.3s;
      stroke: $Mchd_Primary_Middle;
    }
  }
}

.storybook-button--secondary.mchd:hover {
  color: $Mchd_Primary_Middle;
  border-color: $Mchd_Primary_Middle;

  svg {
    transition: 0.3s;
    stroke: $Mchd_Primary_Middle;
  }
}

.storybook-button--secondary.mchd:active {
  background: $Mchd_Primary_Light;
  color: $Mchd_Primary_Color;

  svg {
    transition: 0.3s;
    stroke: $Mchd_Primary_Color;
  }
}

/* Тема кнопки success */

.storybook-button--secondary.success {
  color: $Success_Color;
  border-color: $Success_Color;

  &:focus-visible {
    color: $Success_Middle;

    svg {
      transition: 0.3s;
      stroke: $Success_Middle;
    }
  }
}

.storybook-button--secondary.success:hover {
  color: $Success_Middle;
  border-color: $Success_Middle;

  svg {
    transition: 0.3s;
    stroke: $Success_Middle;
  }
}

.storybook-button--secondary.success:active {
  background: $Success_Light;
  color: $Success_Color;

  svg {
    transition: 0.3s;
    stroke: $Success_Color;
  }
}
